* {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
}

.cabeçalho {
    background-color: #e4fec1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}

.cabeçalho-título {
    color: #fbffc1;
    font-size: 54px;
}

.cabeçalho-lista {
    color: rgb(0, 0, 0);
    font-size: 22px;
}

.cabeçalho-logotipo {
    width: 120px;
}

.cabeçalho-lista-item1 {
    display: inline-block;
    margin: 0 16px;
}

.cabeçalho-lista-item2 {
    display: inline-block;
    margin: 0 16px;
}

.nossa-escola {
    background-image: linear-gradient(#e4fec1, #5aaa41);
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;

}

.nossa-escola-título {
    font-size: 32px;
    padding: 24px;
}

.nossa-escola-texto1 {
    font-size: 26px;
    padding: 24px;
}

